body{
	font-family: 'Open Sans', sans-serif;
    color: #201b2d;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

p{
	line-height: 1.66em;
}

.container{
	width: 1170px;
	margin: 0 auto;
}
.header{
	background: rgba(77,46,105,1);
	background: -moz-linear-gradient(-45deg, rgba(77,46,105,1) 0%, rgba(37,21,64,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,46,105,1)), color-stop(100%, rgba(37,21,64,1)));
	background: -webkit-linear-gradient(-45deg, rgba(77,46,105,1) 0%, rgba(37,21,64,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(77,46,105,1) 0%, rgba(37,21,64,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(77,46,105,1) 0%, rgba(37,21,64,1) 100%);
	background: linear-gradient(135deg, rgba(77,46,105,1) 0%, rgba(37,21,64,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d2e69', endColorstr='#251540', GradientType=1 );
	padding-top: 75px;
	padding-bottom: 200px;
	color: #fff;
}
.wrapper{
	display: flex;
	justify-content: space-between;
}

.offer{
	margin-top: 150px;
	width: 480px;
}

.title{
	font-size: 30px;
}

.title span{
	
}

.btn{
	background: #ed9619;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	border-radius: 100px;
	display: block;
	width: 205px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.intro{
	margin-bottom: 37px;
	margin-top: 30px;
	width: 380px;
}

.photo{
	margin-top: 60px;
}

.btn:hover{
    background: #d9860e;
    transition: all 0.5s ease;
}

.section-title{
	font-size: 30px;
}

.wybieranie{
	padding-top: 108px;
	padding-bottom: 120px;
}
.dlaczegomy{
	display: flex;
	justify-content: space-between;
	margin-top: 85px;
}

.dlaczego-title{
	font-size: 18px;
}

.dlaczego-text{
	margin-top: 7px;
}

.dlaczego{
	width: 350px;
	background: url('../img/icon1.png') no-repeat left top;
	padding-left: 100px;
}

.dlaczego-rabaty{
	background: url('../img/icon2.png') no-repeat left top;
}

.dlaczego-czas{
	background: url('../img/icon3.png') no-repeat left top;
}

.form{
	margin-top: 45px;
}

.mail{
	background: #efecf4;
	padding-top: 175px;
	padding-bottom: 190px;
}

.input{
	width: 475px;
	border: 1px solid #bfb8d1;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 100px;
	height: 55px;
	padding-left: 38px;

}

.btn-form{
	border: 0;
	cursor: pointer;
	display: inline;
	margin-left: 11px;

}

.footer{
	padding: 33px 0;
	background: #201b2d;
}

.kontakt{
	color: #d4cee3;
	font-size: 14px;
	margin: 0;
}